{% extends "base.html" %}
{% block content %}


<h2 class="blue-text text-lighten-3 center">Select Vehicle</h2> 
<p class="center">Select a Registration to View, Edit, Create or Delete a mileage record</p>
<div class="collection row">
    
{% for vehicle in vehicles %}
    <div class="col s12 m8 offset-m2 collection-item center-align"><a href="{{url_for('view_vehicle_details', vehicle_id=vehicle.id)}}">
        <button class="btn blue darken-2 col s4 offset-s4" >{{vehicle.vehicle_reg}}</button></a>
    </div>
    
{% endfor %}
</div>
{% endblock %}