{% extends "base.html" %}
{% block content%}
<h2 class="blue-text text-lighten-3 center">Sign Up</h2> 
<div class="row collection" >
    <form class="collection-item col s12 m8 offset-m2 center-align" method="POST" action="{{url_for('signup')}}">
        {{form.csrf_token}}
        {{form.username.label}}
        {{form.username}}
        {{form.email.label}}
        {{form.email}}
        {{form.password.label}}
        {{form.password}}
        

        <button class="center-align btn-large green center-align ">Submit</button>
        
    </form>
</div>

{% endblock %}