{% extends "base.html" %}
{% block content%}
<h2 class="blue-text text-lighten-3 center">Sign Up</h2>
<div class="row collection">
    <form class="collection-item col s12 m8 offset-m2" method="POST" action="{{url_for('signup')}}">
        {{  form.csrf_token  }}
        {{  form.username.label  }}
        {{  form.username(class="grey lighten-4")  }}
        {{  form.email.label  }}
        {{  form.email(class="grey lighten-4")  }}
        {{  form.password.label  }}
        {{  form.password(class="grey lighten-4") }}
        {{  form.validatepassword.label  }}
        {{  form.validatepassword(class="grey lighten-4")  }}
        {%if current_user.role=='admin' %}
        {{  form.role.label  }}
        {{  form.role(class="btn-small grey lighten-4 black-text ")  }}
        {% endif %}
        <div class="row">
            <br>
            <button class=" collection-item col s12 m8 offset-m2 center-align btn-large green">Submit</button>
        </div>

    </form>
</div>